.footer {
    background-color: var(--bgrd--title--color);
    padding: 60px 0;
}
.container--footer{
    display: flex;
    text-align: center;
    flex-direction: column;
        @include tablet {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: baseline;
            
        }
        @include desktop{
            flex-wrap: nowrap;
            text-align: start;
                    display: flex;
                    align-items: baseline;
                
        }
}
.contacts{
    margin-bottom: 60px;
    @include tablet {
        flex-basis: 50%;
    }
    @include desktop
}
.contacts__web-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--second-title-color);
}

.address {
    font-style: normal;
    margin-top: 20px ;

        &__link-maps {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: var(--second-title-color);
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover,
            &:focus {
                color: var(--btx-title--color);
            }
        }
        &__item {
            margin-top: 9px;
        }
    
        &__link {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: var(--footer--title--color) ;
            
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: var(--btx-title--color);
            }
        }
}

.socials
{  display: flex;
    align-items: center;
    flex-direction: column;
margin-bottom: 60px;
    @include tablet {
        flex-basis: 50%;
        
        
    }
    &__info {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            font-weight: 700;
            color: var(--second-title-color);
            text-transform: uppercase;
        }
    
        &__list {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }
    
        &__link {
         
            color: var(--second-title-color);
            background-color:var(--footer--soc--color);
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: var(--btx-title--color);
            }
        }
    
        &__icon {
            fill: currentColor;
        }
}

.mailing {
    margin: auto;
    @include tablet {
        flex-direction: column;
        text-align: center;
        width: 100%;
        flex-basis: 50%;
        margin: auto;
        
     
    }
        @include desktop{
            flex-basis: 100%;
            margin: 0;
            
        }
    &__info {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            font-weight: 700;
            color: var(--second-title-color);
            text-transform: uppercase;
            margin-bottom: 20px;
        }
}

.mailing-form__input {
    height: 50px;
    width: 300px;
    background-color: var(--bgrd--title--color);
    border: 1px solid var(--mailing--form--color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    color:var(--second-title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
    @include mobile{
        width: 450px;
    }
    @include desktop {
        width: 358px;
    }

     &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: var(--footer--title--color);
        }
}
.mailing-form__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px var(--mailing-btn--color);
    padding: 10px 28px;
    margin-left: 12px;
}
.mailing-form__btn-icon {
    fill: var(--second-title-color) ;
    margin-left: 10px;
}