.name {
    background-color: var(--bgrd--title--color);
    height: 600px;
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(
            var(--name--background--color),
            var(--name--background--color)),
             url(../img/work-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
        @include mobile {
                background-image: linear-gradient(
                    var(--name--background--color),
                    var(--name--background--color)),
                    url(../img/work-mobile.jpg);
                    @include retina {
                            background-image: linear-gradient(var(--name--background--color),
                                        var(--name--background--color)),
                                    url(../img/work-mobile-2x.jpg);
                        }
                    }
        @include tablet{
            background-image: linear-gradient(
                var(--name--background--color),
                var(--name--background--color)),
                url(../img/work-tablet.jpg);
                @include retina{
                        background-image: linear-gradient(var(--name--background--color),
                                var(--name--background--color)),
                            url(../img/work-tablet-2x.jpg);
                    }
                }
        @include desktop {
            background-image: linear-gradient(
                var(--name--background--color),
                var(--name--background--color)),
                url(../img/work.jpg);
                @include retina{
                        background-image: linear-gradient(var(--name--background--color),
                                var(--name--background--color)),
                            url(../img/work-2x.jpg);
                    }
        }       
    }


.container-name {
    padding-right: 237px;
    padding-left: 237px;
}
.name__text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 30px;
    display: flex;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
}
.name_btn {
    font-family: inherit;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 10px 32px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,&:focus {
            background-color: var(--btx-color--bg)
        }
}
