.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--backdrop--color--back);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    background-color: var(--second-title-color);
    width: 450px;
    min-height: 609px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(.57, .57, 1, .92);
    padding: 40px;
    @include desktop {
        width: 528px;
            min-height: 581px;
    }
    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0) rotate(360deg);
         }
}
.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--modal--color--back);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(-logo--title--color) ;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
    color: var(--btx-color--bg);
        }
}
.modal__icon {
    fill: currentColor;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    @include desktop {
        font-size: 20px;
            line-height: 1.15;
    }
}
.field {
    margin-bottom: 10px
}
.field__label {
    margin-bottom: 5px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-title--color);
}
.wrap {
    position: relative;
}
.wrap__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--wrap--color--back);
    border-radius: 4px;
    padding-left: 42px;
    color: var(--first-title-color) ;
    font-weight: 700;
    font-size: 14px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border-color: var(--btx-title--color);
        }
}

.wrap__icon {
    position: absolute;
    left: 12px;
    ;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--first-title-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .wrap__input:focus + & {
            fill: var(--btx-title--color);
        }
}

.field-coment {
    margin-bottom: 20px;
}

.field-coment-text {
    width: 100%;
    height: 120px;
    border: 1px solid var(--wrap--color--back);
    border-radius: 4px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border-color: var(--btx-title--color);
            outline: none;
        }
    
       &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
        }
}

.checkbox {
    margin-bottom: 30px;
}

.check {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--text-title--color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include desktop {
        font-size: 14px;
            line-height: 1;
    }
       span {
            width: 16px;
            height: 15px;
            border: 2px solid var(--first-title-color);
            border-radius: 2px;
            margin-right: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
             .checkbox__input:checked + & {
                    background-color: var(--btx-title--color);
                    border: none;
                }
           
        }
}
.check__icon {
    fill: transparent;
    .checkbox__input:checked + .check & {
            fill: var(--second-title-color);
        }
}
.check__link {
    text-decoration: none;
    border-bottom: 1px solid var(--btx-title--color);
    color: var(--btx-title--color);
    margin-left: 6px;
}
.modal-button {

    box-shadow: 0px 4px 4px rgba(38, 26, 26, 0.15);
    padding: 10px 52px;
    position: absolute;
    left: 125px;
    @include desktop {
        left: 165px;
    }
}