body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--second-title-color);
    color: var(--first-title-color);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}