:root {
    --first-title-color: #212121;
    --second-title-color: #ffffff;
    --btx-title--color: #2196F3;
    --text-title--color: #757575;
    --logo--title--color: #000000;
    --bgrd--title--color: #2F303A;
    --footer--title--color: rgba(255, 255, 255, 0.6);
    --team--section--color: #F5F4FA;
    --btx-color--bg: #188CE8;
    --bg--title-color: #E5E5E5;
    --soc--title--color: #AFB1B8;
    --header--border--color: #ECECEC;
    --card--content--color: #EEEEEE;
}